html {
	max-width: 101vw;
	max-height: 98vh;
}


.directory {
	margin: auto;
	text-align: center;
	overflow-x: scroll;

	max-height: 99vh;
}

.stackseparator {
	height: 10px;
	width: 1px;
	border-left: 1px solid black;
	position: relative;
	top: -15px;
}

.personstacked {
	display: flex;
	flex-direction: row;
	
}

.personbefore {
	display: flex;
	content: '';
	position: relative;
	justify-content: right;
	border-left: 1px solid black;
	height: 20px;
	width: 1px;
	left: 50%;
}

.personleft {
	display: flex;
	content: '';
	border-top: 1px solid black;
	justify-content: right;
	position: relative;
	height: 1px;
	width: 20px;
	top: 15px;
	left: 0px;
}

.treeleft {
	display: flex;
	content: '';
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	justify-content: right;
	position: relative;
	height: 30px;
	width: 1px;
	top: -15px;
	left: 0px;

}

.stacktop {
	display: flex;
	content: '';
	position: relative;
	justify-content: right;
	border-top: 1px solid black;
	border-left: 1px solid black;
	height: 20px;
	width: 100%;
	top: 0px;
	left: 0px;
}

.stacktoponly {
	display: flex;
	content: '';
	position: relative;
	justify-content: right;
	border-top: 1px solid black;
	border-left: 1px solid black;
	height: 20px;
	width: 50%;
	top: 0px;
	left: 0px;
}

.manager {
	display: flex;
	content: '';
	position: relative;
	justify-content: right;
	border-left: 1px solid black;
	height: 20px;
	width: 1px;
	left: 50%;
}


.reportleft {
	display: flex;
	content: '';
	position: relative;
	justify-content: right;
	border-top: 1px solid black;
	height: 0px;
	width: 50%;
	top: -20px;
	left: 50%;
}

.reportcenter {
	display: flex;
	content: '';
	position: relative;
	justify-content: center;
	border-top: 1px solid black;
	height: 0px;
	width: 100%;
	top: -20px;
}

.reportright {
	display: flex;
	content: '';
	position: relative;
	justify-content: left;
	border-top: 1px solid black;
	height: 0px;
	width: 50%;
	top: -20px;
	left: 0%;
}

.name {
	border: 1.0px solid black;
	min-width: 225px;
	padding: 5px;
	display: inline-block;
	vertical-align: middle;
	
	margin-right: 10px;
}

.directreports {
	display: flex;
	justify-content: center;

}