.directory {
	margin: auto;
	text-align: center;
}


.person::before {
	display: flex;
	content: '';
	position: relative;
	justify-content: right;
	border-left: 1px solid black;
	height: 20px;
	width: 1px;;
	left: 50%;
}

.manager {
	display: flex;
	content: '';
	position: relative;
	justify-content: right;
	border-left: 1px solid black;
	height: 20px;
	width: 1px;
	left: 50%;
}

.reportleft {
	display: flex;
	content: '';
	position: relative;
	justify-content: right;
	border-top: 1px solid black;
	height: 0px;
	width: 50%;
	top: -20px;
	left: 50%;
}

.reportcenter {
	display: flex;
	content: '';
	position: relative;
	justify-content: center;
	border-top: 1px solid black;
	height: 0px;
	width: 100%;
	top: -20px;
}

.reportright {
	display: flex;
	content: '';
	position: relative;
	justify-content: left;
	border-top: 1px solid black;
	height: 0px;
	width: 50%;
	top: -20px;
	left: 0%;
}

.name {
	border: 1px solid black;
	padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
	min-width: 150px;
	background-color: #FFFFFF;
	display: inline-block;
}

.directreports {
	display: flex;
	justify-content: center;

}