/* Baseline Stuff */
html {
    display: inline-block;
    text-align: center;
}

/* Just in case */
.directory {

}

/* Person and it's children */

.person {
    flex-grow: 1;
}

/* Block Div Children */

.block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    border: 1pt solid black;

    margin-left: 5pt;
    margin-right: 5pt;
}

.stackedblock {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    border: 1pt solid black;

    margin-left: 0pt;
    margin-right: 10pt;
}

.name {
    padding: 2pt;
    padding-bottom: 1pt;

    font-size: 1.5em;
    text-wrap: nowrap;
}

.title {
    padding: 2pt;
    padding-top: 1pt;

    font-size: 1em;
    font-style: italic;
}

/* Direct Reports and it's children */

.directreports {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
}

.reportstack {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.stackedperson {
    display: flex;
    flex-direction: row;
    
}

.stackspacer {
    border-left: 1pt solid black;
    width: 0pt;
    height: 5pt;
}

/* Different Line Orders */
.rowlines {
    display: flex;
    flex-direction: row;
}

.columnlines {
    display: flex;
    flex-direction: column;
}

/* Separators */
.leftseparator {
    border-right: 1pt solid black;
    width: 50%;
    height: 10pt;
}

.middleseparator {
    border-right: 1pt solid black;
    width: 0pt;
    height: 10pt;
}

.rightseparator {
    border-left: 1pt solid black;
    width: 50%;
    height: 10pt;
}

.stackseparator {
    border-bottom: 1pt solid black;
    width: 10pt;
    height: 50%;
}

/* Connectors */
.leftconnector {
    border-top: 1pt solid black;

    width: 50%;
    height: 0pt;
}

.middleconnector {
    border-top: 1pt solid black;

    width: 100%;
    height: 0pt;
}

.rightconnector {
    border-top: 1pt solid black;

    width: 50%;
    height: 0pt;
}

.stackonlyconnector {
    border-top: 1pt solid black;
    border-left: 1pt solid black;

    width: 50%;
    height: 4pt;
}

.stackconnector {
    border-top: 1pt solid black;
    border-left: 1pt solid black;

    width: 100%;
    height: 4pt;
}

.middlestackconnector {
    border-left: 1pt solid black;

    width: 0pt;
    height: 100%;
}

.bottomstackconnector {
    border-left: 1pt solid black;

    width: 0pt;
    height: 50%;
}